name: Deploy production

on:
  workflow_dispatch:
    inputs:
      deployables:
        description: 'api/workers/dispatch.yaml'
        default: 'api workers'
        required: true

jobs:
  deploy_api:
    if: contains(github.event.inputs.deployables, 'api')
    runs-on: ubuntu-latest
    env:
      RESOLUTION_POSTGRES_HOST: ${{ secrets.RESOLUTION_POSTGRES_HOST }}
      RESOLUTION_POSTGRES_USERNAME: ${{ secrets.RESOLUTION_POSTGRES_USERNAME }}
      RESOLUTION_POSTGRES_PASSWORD: ${{ secrets.RESOLUTION_POSTGRES_PASSWORD }}
      RESOLUTION_POSTGRES_DATABASE: ${{ secrets.RESOLUTION_POSTGRES_DATABASE}}
      ETHEREUM_JSON_RPC_API_URL: ${{ secrets.ETHEREUM_JSON_RPC_API_URL}}
      VIEWBLOCK_API_KEY: ${{ secrets.VIEWBLOCK_API_KEY }}
      GCP_SQL_INSTANCE: ${{ secrets.GCP_SQL_INSTANCE }}
      ETHEREUM_NETWORK_ID: 1
      ZNS_NETWORK: mainnet
      BUGSNAG_API_KEY: ${{ secrets.BUGSNAG_API_KEY }}
      NEW_RELIC_APP_NAME: ${{ secrets.NEW_RELIC_APP_NAME }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.NEW_RELIC_LICENSE_KEY }}
      SERVICE_NAME: api
      RESOLUTION_RUNNING_MODE: API,MIGRATIONS

    steps:
      - uses: actions/checkout@v2

      - name: Set up gcloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}

      - name: Create api.yaml
        shell: bash
        run: bash create-yaml.sh

      - name: Deploy API
        if: contains(github.event.inputs.deployables, 'api')
        run: gcloud app deploy api.yaml

  deploy_workers:
    runs-on: ubuntu-latest
    if: contains(github.event.inputs.deployables, 'workers')
    env:
      RESOLUTION_POSTGRES_HOST: ${{ secrets.RESOLUTION_POSTGRES_HOST }}
      RESOLUTION_POSTGRES_USERNAME: ${{ secrets.RESOLUTION_POSTGRES_USERNAME }}
      RESOLUTION_POSTGRES_PASSWORD: ${{ secrets.RESOLUTION_POSTGRES_PASSWORD }}
      RESOLUTION_POSTGRES_DATABASE: ${{ secrets.RESOLUTION_POSTGRES_DATABASE}}
      ETHEREUM_JSON_RPC_API_URL: ${{ secrets.ETHEREUM_JSON_RPC_API_URL}}
      VIEWBLOCK_API_KEY: ${{ secrets.VIEWBLOCK_API_KEY }}
      GCP_SQL_INSTANCE: ${{ secrets.GCP_SQL_INSTANCE }}
      ETHEREUM_NETWORK_ID: 1
      ZNS_NETWORK: mainnet
      BUGSNAG_API_KEY: ${{ secrets.BUGSNAG_API_KEY }}
      NEW_RELIC_APP_NAME: ${{ secrets.NEW_RELIC_APP_NAME }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.NEW_RELIC_LICENSE_KEY }}
      SERVICE_NAME: workers
      RESOLUTION_RUNNING_MODE: ETH_WORKER,ZIL_WORKER

    steps:
      - uses: actions/checkout@v2

      - name: Set up gcloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}

      - name: Create worker.yaml
        shell: bash
        run: bash create-yaml.sh

      - name: Deploy WORKERS
        if: contains(github.event.inputs.deployables, 'workers')
        run: gcloud app deploy workers.yaml
