# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Tests and validations

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - master
      - staging
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  NODE_VERSION: 14.16.1

concurrency:
  group: resolution_tests_${{ github.sha }}
  cancel-in-progress: true

jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test
      ZNS_NETWORK: testnet
      RESOLUTION_POSTGRES_DATABASE: 'resolution_service_test'
      RESOLUTION_POSTGRES_HOST: 'localhost'
      RESOLUTION_POSTGRES_USERNAME: 'postgres'
      RESOLUTION_POSTGRES_PASSWORD: secret
      RESOLUTION_POSTGRES_PORT: 5432
      VIEWBLOCK_API_KEY: 'test'
      ETHEREUM_JSON_RPC_API_URL: 'http://localhost:7545'
      ETHEREUM_NETWORK_ID: 1337
      POLYGON_JSON_RPC_API_URL: 'http://localhost:7546'
      POLYGON_NETWORK_ID: 1337
      UNS_REGISTRY_EVENTS_STARTING_BLOCK: 0
      CNS_REGISTRY_EVENTS_STARTING_BLOCK: 0
      MORALIS_API_URL: ${{ secrets.MORALIS_API_URL }}
      MORALIS_APP_ID: ${{ secrets.MORALIS_APP_ID }}
      OPENSEA_API_KEY: ${{ secrets.OPENSEA_API_KEY}}
      CLOUD_STORAGE_BUCKET_ID: 'resolution-client-assets'

    services:
      postgres:
        image: postgres:13
        ports: ['5432:5432']
        options:
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_DB: 'resolution_service_test'
          POSTGRES_PASSWORD: 'secret'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Cache Node modules
        id: cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key:
            ${{ runner.os }}-${{ env.NODE_VERSION }}-yarn-dev-${{
            hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-${{ env.NODE_VERSION }}-yarn-dev-

      - name: Install dependencies
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        run: yarn install --freeze-dependencies

      - name: Validate with Prettier
        run: yarn prettier:check

      - name: Validate with ESLint
        run: yarn eslint:check

      - name: Validate TypeScript
        run: yarn build:check

      - name: Run TypeORM migrations
        run: NODE_ENV=test yarn db:migration:run

      - name: Run unit tests
        run: yarn test:ci
# Temporarily disable sonar scan while we increase limits
# - name: Scan with SonarCloud
#   uses: sonarsource/sonarcloud-github-action@master
#   if: ${{ github.actor != 'dependabot[bot]' }}
#   env:
#     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
# Temporary disable snapshot feature until we implement chain reorg handling functionality.
# Check the following story and PR for details:
#  - https://www.pivotaltracker.com/n/projects/2463706/stories/178945048
#  - https://github.com/unstoppabledomains/unstoppable-domains-website/pull/2908
#      - name: Check snapshot
#        run: NODE_ENV=test yarn db:snapshot:check
